.center-text{
  text-align: center;
}
/* centering the image through margin*/
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:500px;
}

body{
  background-color: yellowgreen;
  
}

h1{ 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  background: lightblue url("cheese.jpg");
  color: lightcyan;
}

h2{
  padding-top: 20px;
}

hr{
  height:5px;
}
/*to make the text stay in the center of the page, not getting to close to the border */
p{
  padding:10px 50px;
}
/* centering links */
a{
  text-align:center;
}

/* original */
a {
  color: blue;
}

/* Visited links */
a:visited {
  color: red;
}
/* Hover state */
a:hover {
  color: green; 
}

/* Active state */
a:active {
  color: pink;
}
