.center-text{
  text-align: center;
}
/* centering the image through margin*/
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:500px;
}

body{
  background-color: #006BA6;
  
}

header{
  background-color:#0496FF;
  
}
#logo { height: 100px; width: 200px; overflow: hidden; }

h1{ 
  font-family:'Gochi Hand', cursive;
  font-size: 52px;
  color: lightcyan;
}
header nav{
  display: flex;
  flex-direction:column;
  justify-content: center;
}
header nav ul {
  display: flex;
  flex-direction:row;
  padding-left: 0;
  list-style: none;
}
header nav ul li a{
  font-family:Montserrat;
  margin:0 20px;
  text-decoration: none;
}

h2{
  padding-top: 20px;
}

hr{
  height:5px;
}
/*to make the text stay in the center of the page, not getting to close to the border */
p{
  padding:10px 50px;
}
/* centering links */
a{
  text-align:center;
}

/* original */
a {
  color: blue;
}

/* Visited links */
a:visited {
  color: red;
}
/* Hover state */
a:hover {
  color: green; 
}

/* Active state */
a:active {
  color: pink;
}
/* for responsive layout
Mobile First */
.badge {
  justify-content: space-evenly;
}
.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}
.item {
  flex: 1;
  margin: 10px;
  flex-grow: 1;
  align-self: baseline;
}
.wrapper {
  width: 100%;
}
img{
  width:100%;
}
/*for input form */
form input,
form textarea{
  width:100%
}
/*for responsive layout*/
@media all and (min-width: 600px){
  .group {
    flex-direction: row;
  }
  .wrapper{
    width:80%;
    margin:auto;
  }


  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    font-size: 42px;
    margin: 14px 0;
    padding-top: 6px;
  }
  
  header nav {
    margin-top: 14px;
    
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
}
